body {
    background-color: #f3f3f3;
    color: #000000;
    border: 4px;
    border: 4px solid #2600ff;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
}

h4{
    color: rgb(126, 129, 133);
    text-align: center;
}

.imgcentro{
    display: block;
    margin: auto;
}

h3{
    text-align: center;
}

h2{
    text-align: center;
}